$colors:(
  accent: #e6ecf0,
  primary: #1c92d2
);

body {
    background-color: map-get($colors, accent);
  }
  button{
    outline:none !important;
  }
  
  /*********************************
    *   NAVBAR
  *********************************/
  .navbar{
    margin-bottom: 1 rem;
  }
  .navbar-li:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }
  .navbar-li{
    border: 0;
    background-color: Transparent;
    font-weight: bold;
    color: white;
    margin: 0 0.75rem;
  }
  .navbar-brand > img{
    display: inline-block;
    width: 1.5rem;
    transform: scale(2);
    margin: 5px 10px 0px;
    border-radius: 2px;
  }
  .navbar{
    background-image: linear-gradient(to right, #f2fcfe,#1c92d2);
  }
  #navbar-home,
  #forgot-password-link{
    color: black;
  }
  #navbar-home img:hover{
    transform: scale(2.5);
  }
  /*********************************
    *   Auth
  *********************************/
  .form-error{
    color: red;
    display: inline-block;
  }
  /***********************************
    *   HomePage 
  ***********************************/
  .home-hero {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
    background-image: url("../images/signed-out-home.jpg");
    text-align: center;
    padding: 1rem;
    background-position: center center;
    background-size: cover;
    color: #fff;
    text-shadow: 0 0 8px #66757f;
  }
  #signup-button{
    font-size: 1.5rem;
    padding: 5px;
    width: 200px;
    height: 50px;
  }
  /***********************************
    *   Messages
  ***********************************/
  #messages .list-group-item{
    display: flex;
    align-items: flex-start;
    padding: 12px 12px;
    border-radius: 10px;
  }
  #password-criteria-list{
    padding: 5px;
  }
  #password-criteria-list form{
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFF;
  }
  #password-criteria-list ul{
    list-style-type: none;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
  }
  #messages:not(.no-hover) .list-group-item:hover{
    background-color: #e6ecf0
  }
  #message-username{
    color: #1c92d2;
  }
  .timeline-image {
    border-radius: 50px;
    height: 48px;
    width: 48px;
    margin: 2px 30px 10px 10px
  }
  .btn:hover{
    cursor: pointer;
  }
  a.btn.btn-danger,
  a.btn.btn-success,
  a.btn.btn-primary,
  a.btn.btn-info,
  a.btn.btn-success:hover,
  a.btn.btn-primary:hover,
  a.btn.btn-info:hover,
  a.btn.btn-danger:hover{
    color: white;
    padding: 0px;
    width: 65px;
    height: 25px;
  }
  #message-form{
    padding: 20px;
  }
  #reply-form{
    padding: 10px 20px;
  }
  #reply-button{
    width: 90px;
  }
  #follow-button{
    padding: 0px;
    width: 80px;
    height: 25px;
  }
  #correct-user-message-buttons{
    display: inline;
  }
  .replies-style{
    padding: 0 20px 10px;
  }
  /***********************************
    *   User Aside
  ***********************************/
  .panel-body-link{
    color: black;
    display: inline-block;
  }
  .panel-body-link:hover{
    color: black;
    text-decoration: underline;
    cursor: pointer;
  }
  .userAside{
    padding: 10%;
    background-color: white;
  }
  
  /********************************
   * New Message
  ********************************/
  .popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    z-index: 9;
  }
  .popupInner{
    position: absolute;
    left: 5%;
    right: 5%;
    top: 8%;
    bottom: 60%;
    margin: auto;
    border-radius: 20px;
    background: white;
    z-index: 10;
  }
  
  /********************************
   * Trying grids
  ********************************/
  .grid-container {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 300px;
  }
  .item1{background-color:LightSkyBlue;}
  .item2{background-color:LightSalmon;}
  .item3{background-color:PaleTurquoise;}
  .item4{background-color:LightPink;}
  .item5{background-color:PaleGreen;}